body {
  font-family: 'DM Sans', sans-serif;
}

@layer app {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

/* Custom az search styles */
:root {
  --az-search-primary-color: 9, 9, 11;
}

@layer az-search {
  .p-dialog-header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .p-inputtext {
    padding: 8px 16px;
  }
}